{% extends 'base.html.twig' %}

{% block title %}Afficher un user{% endblock %}

{% block body %}
    <h2>Afficher un user</h2>
    <p>
        <b>Prénom : </b>
        {{ user.firstName }}
    </p>
    <p>
        <b>Date de naissance : </b>
        {{ user.birthdate | date("d/m/Y") }}
    </p>

    {% if user.tweets is not empty  %}
    <p>
        <b>Liste des tweets</b>
    </p>
        <ul>
            {% for tweet in user.tweets %}
            <li>{{ tweet.text }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
